h1,
h3 {
  margin-top: 3.5%;
  color: white;

  font-weight: bolder;
}
.MainTitle {
  font-size: 3rem;
}
.inner-container {
  height: 50%;
  width: 80%;

  margin: 0% 10%;
  padding: 1%;
}
input {
  padding: 10px;
  border-radius: 15px;
  font-family: Prompt;
  font-size: 20px;
}
input:invalid {
  border-radius: red;
}
.currentUrl a {
  color: white;
  text-decoration: none;
}
.img-button {
  width: 50px;
  height: 50px;
 
}
.alert {
  width: 50%;
  margin: 0% 25%;
  padding: 1%;
  font-family: Prompt;
  font-size: 20px;
  border-radius: 15px;
}
.my-3 {
  margin-bottom: 0.5rem !important;
}
.btn {
  background-color: white;
  color: #195dad;
  padding: 5px 20px;
  font-family: Prompt;
  font-size: 20px;
}
.textInput {
  height: 150px;
}
