<div class="contianer text-center">
  <h1 class="MainTitle" for="url">URL Shortener</h1><br />
  <div class="inner-container">
    <h3>Please enter your URL:</h3>
    <form class="form" [formGroup]="form" (ngSubmit)="ReduceUrl(form.value)">
      <input class="col-lg-6 my-3" type="url" id="OriginalUrl" formControlName="OriginalUrl"
        placeholder="Enter the original Url...">
      <div *ngIf="form.get('OriginalUrl').touched && form.get('OriginalUrl').hasError('required')"
        class="alert alert-danger">
        <!-- <i class="fa-solid fa-triangle-exclamation"s></i> -->
        <div>This field is required</div>
      </div>
      <br><button class="btn btn-lg my-2" type="submit" [disabled]="form.get('OriginalUrl').value.length == 0"><img
          class="img-button" src="../assets/images/play.png" alt="Alternate Text" /> Short your Url</button>

    </form>

    <div *ngIf="spiner" class="d-flex justify-content-center mt-4">
      <div class="spinner-grow spinner-grow-sm text-primary" role="status">
        <span class="sr-only"></span>
      </div>
      <div class="spinner-grow spinner-grow-sm text-warning" role="status">
        <span class="sr-only"></span>
      </div>
      <div class="spinner-grow spinner-grow-sm text-primary" role="status">
        <span class="sr-only"></span>
      </div>
      <div class="spinner-grow spinner-grow-sm text-warning" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
</div>
