<div class="contianer text-center">
  <h1 class="MainTitle" for="url">URL Shortener</h1><br />
  <!--<div *ngIf="errorMessage">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      You should enter a valid <strong>
        Url
      </strong>.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>-->
  <div class="inner-container">
    <h3>Please enter your URL:</h3>
    <form class="form" [formGroup]="form" (ngSubmit)="CreateUrl(form.value)">
      <textarea class="form-control" type="url" id="OriginalUrl" formControlName="OriginalUrl"
                placeholder="Enter the original Url..." rows="5"></textarea>
      <div *ngIf="form.get('OriginalUrl').touched && form.get('OriginalUrl').hasError('required')"
           class="alert alert-danger mt-3">
        <div>This field is required</div>
      </div>
      <div *ngIf="form.get('OriginalUrl').hasError('pattern')"
           class="alert alert-danger mt-3">
        <div>Please provide a valid Url.</div>
      </div>
      <br><button class="btn btn-lg my-2" type="submit" [disabled]="!form.valid">
        <img *ngIf="form.get('OriginalUrl').value?.length == 0 || !form.valid" class="img-button" src="../assets/images/scissors.png" alt="Alternate Text" />
        <img *ngIf="form.get('OriginalUrl').value?.length > 0 && form.valid" class="img-button" src="../assets/images/scissors.gif" alt="Alternate Text" /> Short your Url
      </button>
      <a href="https://www.flaticon.com/free-animated-icons/scissors" title="scissors animated icons" hidden>Scissors animated icons created by Freepik - Flaticon</a>
    </form>

    <div *ngIf="spiner" class="d-flex justify-content-center mt-4">
      <div class="spinner-grow spinner-grow-sm text-primary" role="status">
        <span class="sr-only"></span>
      </div>
      <div class="spinner-grow spinner-grow-sm text-warning" role="status">
        <span class="sr-only"></span>
      </div>
      <div class="spinner-grow spinner-grow-sm text-primary" role="status">
        <span class="sr-only"></span>
      </div>
      <div class="spinner-grow spinner-grow-sm text-warning" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
</div>
