@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

body,
html {
  background-color: #059dc0;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Merienda", cursive;
}
