<div class="container-fluid text-center">
  <h2 class="p-4">Register</h2>
  <form class="form-group p-4" [formGroup]="userForm" (ngSubmit)="UserSignUp(userForm.value)">
    <div class="input-group mb-1">
      <input type="text" class="form-control" name="email" formControlName="email" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-1">
      <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password" aria-label="password" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-1">
      <input type="password" class="form-control" name="repeatPassword" formControlName="repeatPassword" placeholder="Repeat Password" aria-label="repeatPassword" aria-describedby="basic-addon1">
    </div>
    <button type="submit" class="btn btn-primary my-3" [disabled]="!userForm.valid">Register</button>
  </form>
  <div>You have your account?</div>
  <a class="my-4" href="/login">Sign in here!</a>
</div>
