<div class="d-flex flex-row mt-2">
  <div class="card" style="width: 100%;">
    <div class="embed-responsive embed-responsive-16by9">
      <img src="{{urlDetails?.originalUrl}}" alt="..." class="img-thumbnail">

    </div>
  </div>
  <div class="card" style="width: auto;">
    <div class="card-body">
      <h5 class="card-title">
        <strong>Original Url: </strong><br />
        <a target="_blank" href="{{urlDetails?.originalUrl}}">{{urlDetails?.originalUrl}}</a>
      </h5>
      <p class="card-text"><strong>Short version of the Url: </strong><br />
      <a target="_blank" href="{{environmentHost}}{{urlDetails?.shortUrl}}">{{environmentHost}}{{urlDetails?.shortUrl}}</a></p>
      <share-buttons theme="circles-dark"
                     [include]="['copy', 'facebook', 'email', 'messenger', 'linkedin', 'reddit', 'tumblr', 'twitter', 'viber', 'whatsapp']"
                     [showIcon]="true"
                     [showText]="false"
                     url="{{environmentHost}}{{urlDetails?.shortUrl}}"
                     description="Angular Share Buttons"
                     class="py-4">
      </share-buttons>
      <button class="btn btn-success m-2" (click)="goBack()">Back</button>
      <button type="button" class="btn btn-danger m-2" (click)="deleteUrl(urlDetails.urlId)">
        Delete
      </button>
    </div>
  </div>
</div>

