<div *ngIf="currentShortUrl" class="currentUrl text-center m-3">
  <h3>Your new Url is ready:</h3>

  <input class="rounded col-lg-4 p-2 m-3 text-center" type="text"
         value="https://localhost:44373/{{currentShortUrl.shortUrl}}"><br>
  <p>
    <share-buttons theme="circles-dark"
                   [include]="['copy', 'facebook', 'email', 'messenger', 'linkedin', 'reddit', 'tumblr', 'twitter', 'viber', 'whatsapp']"
                   [showIcon]="true"
                   [showText]="false"
                   url="{{environmentHost}}{{currentShortUrl.shortUrl}}"
                   description="Angular Share Buttons"
                   class="py-4">
    </share-buttons>
  </p>
  <div class="info m-3">
    <div id="Original_Url"><strong>Original Url:</strong> </div>
    <div class="collapse" id="test">
      <div class="card card-body m-2">
        {{currentShortUrl.originalUrl}}
      </div>
    </div>
  </div>
  <button class="btn btn-success mx-4 " type="button" data-toggle="collapse" data-target="#test"
          aria-expanded="false" aria-controls="test">
    <span>Show the original Url</span>
  </button>
  <button class="btn btn-success  text-center mx-4" routerLink="/profile">Show your collection</button>
  <button class="btn btn-warning text-center mx-4" routerLink="/">Short another URL</button>

</div>

<div *ngIf="spiner" class="d-flex justify-content-center">
    <div class="spinner-grow spinner-grow-sm text-primary align-middle" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="spinner-grow spinner-grow-sm text-warning align-middle" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="spinner-grow spinner-grow-sm text-primary align-middle" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="spinner-grow spinner-grow-sm text-warning align-middle" role="status">
        <span class="sr-only"></span>
    </div>
</div>
