h3 {
  margin-top: 3%;
  color: white;
 
  font-weight: bolder;
  font-size: 2.5rem;
}

#Original_Url {
  color: white;

  font-weight: bolder;
  font-size: 1.5rem;
}

input,
.card {
  padding: 10px;
  font-family: Prompt;
  font-size: 20px;
}
