h2{
    color: white;
    text-align: center;
}
.container-fluid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.container {
  background-color: white;
  border: 2px darkgreen solid;
  border-radius: 15px;
}
.noData {
  color: black;
  text-align: center;
}
.recordsNumber{
    background-color:white;
    border-radius: 15px;
    width: 150px;
}
.btnAndRecords{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
