<h2 class="mt-4">Your Collection</h2>
<div class="container-fluid mt-4">
  <div class="btnAndRecords">
    <div class="col">
      <button class="btn btn-warning p-3" routerLink="/">Short a new URL</button>
    </div>
    <div>
      <div class="recordsNumber col text-center my-2 p-2">Total Url's: {{numberOfRecords}}</div>
    </div>
  </div>
  <!--<button class="btn btn-warning mx-2 p-3" routerLink="/">Delete selected</button>-->
  <div class="container mt-3 p-3" *ngIf="urlData">
    <div *ngIf="urlData.length > 0">
      <div *ngFor="let url of urlData">
        <div class="row mt-2">
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
          </div>
          <div class="col">
            Original Url
          </div>
          <div class="col">
            {{host}}{{url.shortUrl}}
          </div>
          <div class="col">{{url.createdOn}}</div>
          <div class="col">
            <button type="button" class="btn btn-warning btn-sm mx-1" routerLink="/urldetails/{{url.urlId}}">
              Details
            </button>
            <button type="button" class="btn btn-danger btn-sm mx-1" (click)="deleteUrl(url.urlId)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="noData" *ngIf="urlData.length <= 0 ">
      <div>You don't have any records yet!</div>
    </div>
  </div>
</div>
