<form class="form" [formGroup]="form" (ngSubmit)="SignInEmailAndPassword(form.value)">
  <div>
    <label for="email"> Email</label>
    <input type="text" name="email" id="email" formControlName="email" placeholder="Your Email" />
  </div>
  <div>
    <label for="password">Password </label>
    <input type="password" name="password" id="password" formControlName="password" placeholder="Your Password" />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid"> Login</button>
</form>
