a {
  text-decoration: none;
  background-color: #059dc0;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
.mainNavbar {
  font-size: smaller;
  font-weight: bolder;
  margin-left: 35%;
}
.navbar, .navigation {
  background-color: white;
  display: flex;
}
#homeBtn, #loginBtn,
#registerBtn, #logoutBtn,
#profileBtn {
  background-color: transparent;
  color: #059dc0;
  border: unset;
  margin-top: -40px;
  margin-right: 35px;
  padding: 9px 50px;
}
  #loginBtn a {
    text-decoration: none;
    background-color: transparent;
    color: #059dc0;
  }
