a {
  text-decoration: none;
  background: linear-gradient(90deg, rgba(9,17,121,0.9948354341736695) 19%, rgba(25,93,173,1) 50%, rgba(0,186,230,1) 100%);
  color: white;
  padding: 10px;
  border-radius: 15px;
}
.mainNavbar {
  font-size: smaller;
  font-weight: bolder;
  margin-left: 35%;
}
.navbar {
  background-color: white;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
#homeBtn, #loginBtn,
#registerBtn, #logoutBtn,
#profileBtn {
  background-color: transparent;
  color: #195dad;
  border: unset;
  margin-top: -40px;
  margin-right: 35px;
  padding: 9px 50px;
}
  #loginBtn a {
    text-decoration: none;
    background-color: transparent;
    color: #195dad;
  }
#dropdownMenuButton, .dropdown-item {
  background-color: transparent;
  border: none;
  color: #195dad;
  border-radius: 15px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
 .dropdown-item:hover {
    background-color: #ffc107;
  }
.loggedUser {
    display: flex;
}
