<nav class="navbar container-fluid">
  <div>
    <span class="mt-2 navbar-brand h1"><a class="mainNavbar" href="/">URL Shortener</a></span>
  </div>
  <div class="navigation">
    <div *ngIf="!isLoggedIn">
      <button id="homeBtn" class=" btn btn-light mt-1 px-6" routerLink="/">Home</button>
      <button id="loginBtn" class="btn btn-light mt-1 px-6" routerLink="/login">Sign in</button>
      <button id="registerBtn" class="btn btn-light mt-1 px-6" routerLink="/register">Sign up</button>
    </div>
    <div *ngIf="isLoggedIn">
      <button id="homeBtn" class=" btn btn-light mt-1 px-6" routerLink="/">Short an Url</button>
      <button id="profileBtn" class="btn btn-light mt-1 px-6" routerLink="/profile">Hello,  {{userGreetings}}!</button>
      <button id="logoutBtn" class="btn btn-light mt-1 px-6" (click)="Logout()">Logout</button>
    </div>
  </div>
</nav>
